@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-urbanist);

  --color-background: #fffffc;
  /* var(--fondo-provisional) */
  --color-foreground: #313131;
  /* var(--main-black) */

  --color-primary: #313131;
  --color-primary-foreground: #ffffff;

  --color-secondary: #ffffff;
  --color-secondary-foreground: #313131;

  --color-calendar-bg: #ffffff;
}

:root {
  --background: #fffffc;
  --foreground: #313131;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}